In [ ]:
import pandas as pd
df = pd.read_csv('salaries_by_college_major.csv')

In [ ]:
df.head()

In [21]:
print('Q1. How many rows & cols does dataframe have: ') 
print(f'Number of rows: {df.shape[0]} | Number of cols: {df.shape[1]}')

Q1. How many rows & cols does dataframe have:
Number of rows: 51 | Number of cols: 6

In [22]:
print('Q2. What are the labels for the columns: ')
print(f'Label for columns:')
for col in df.columns:
    print('\t - ', col)

Q2. What are the labels for the columns:
Label for columns:
	 -  Undergraduate Major
	 -  Starting Median Salary
	 -  Mid-Career Median Salary
	 -  Mid-Career 10th Percentile Salary
	 -  Mid-Career 90th Percentile Salary
	 -  Group

In [27]:
print('Q3. Are there any missing values in dataframe?')
print('\n', df.isna().sum())

print('\n', df[df.isna().any(axis=1)])

Q3. Are there any missing values in dataframe?

 Undergraduate Major                  0
Starting Median Salary               1
Mid-Career Median Salary             1
Mid-Career 10th Percentile Salary    1
Mid-Career 90th Percentile Salary    1
Group                                1
dtype: int64

       Undergraduate Major  Starting Median Salary  Mid-Career Median Salary  \
50  Source: PayScale Inc.                     NaN                       NaN

    Mid-Career 10th Percentile Salary  Mid-Career 90th Percentile Salary Group
50                                NaN                                NaN   NaN

In [18]:
df[df.isna().any(axis=1)]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Remove null values
clean_df = df.dropna()

* dropna() because only single row NaN belonging to unimportant data
* In reality, need to analyse dataset carefully and perform appropriate Imputation